In [1]:
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
train = pd.read_csv('train.csv')

In [3]:
test = pd.read_csv('test.csv')

In [4]:
ss = pd.read_csv('Sample_submission.csv')

In [5]:
train.columns

Index(['Id', 'Age', 'Attrition', 'BusinessTravel', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'CommunicationSkill',
       'Behaviour'],
      dtype='object')

In [6]:
train = train.drop('EmployeeNumber', axis = 1)
test = test.drop('EmployeeNumber', axis = 1)

In [7]:
for column in test.columns:
        if test[column].dtype == np.number:
            continue
        test[column] = LabelEncoder().fit_transform(test[column])
for column in train.columns:
        if train[column].dtype == np.number:
            continue
        train[column] = LabelEncoder().fit_transform(train[column])

In [8]:
train.dtypes

Id                         int64
Age                        int64
Attrition                  int64
BusinessTravel             int32
Department                 int32
DistanceFromHome           int64
Education                  int64
EducationField             int32
EnvironmentSatisfaction    int64
Gender                     int32
JobInvolvement             int64
JobRole                    int32
JobSatisfaction            int64
MaritalStatus              int32
MonthlyIncome              int64
NumCompaniesWorked         int64
OverTime                   int32
PercentSalaryHike          int64
PerformanceRating          int64
StockOptionLevel           int64
TotalWorkingYears          int64
TrainingTimesLastYear      int64
YearsAtCompany             int64
YearsInCurrentRole         int64
YearsSinceLastPromotion    int64
YearsWithCurrManager       int64
CommunicationSkill         int64
Behaviour                  int64
dtype: object

In [9]:
train

,Id,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill,Behaviour
0,0,12,0,0,1,1,2,3,2,0,...,0,0,12,2,11,7,6,7,3,0
1,1,18,0,2,1,11,3,1,2,0,...,0,2,7,2,3,2,1,1,1,0
2,2,37,1,2,2,1,0,3,2,1,...,0,0,12,3,9,7,7,3,4,0
3,3,21,0,2,1,23,0,1,0,1,...,0,0,18,2,7,7,1,7,3,0
4,4,19,0,2,1,2,2,4,2,1,...,0,1,10,2,10,7,7,8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1623,1623,24,1,1,1,18,2,3,2,1,...,0,0,7,2,2,2,2,2,2,0
1624,1624,37,1,2,2,1,0,3,2,1,...,0,0,12,3,9,7,7,3,4,0
1625,1625,7,1,2,2,8,1,1,0,1,...,0,0,6,2,3,2,2,2,4,0
1626,1626,11,1,2,0,12,2,0,0,1,...,0,3,4,3,2,2,2,0,4,0
1627,1627,11,1,2,1,17,0,3,2,1,...,0,0,4,3,4,3,0,1,1,0

In [10]:
X_train = train.drop('Attrition',axis = 1)
y_train = train.Attrition

In [11]:
X_train.columns

Index(['Id', 'Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EnvironmentSatisfaction', 'Gender',
       'JobInvolvement', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'CommunicationSkill',
       'Behaviour'],
      dtype='object')

In [12]:
X_train.dtypes

Id                         int64
Age                        int64
BusinessTravel             int32
Department                 int32
DistanceFromHome           int64
Education                  int64
EducationField             int32
EnvironmentSatisfaction    int64
Gender                     int32
JobInvolvement             int64
JobRole                    int32
JobSatisfaction            int64
MaritalStatus              int32
MonthlyIncome              int64
NumCompaniesWorked         int64
OverTime                   int32
PercentSalaryHike          int64
PerformanceRating          int64
StockOptionLevel           int64
TotalWorkingYears          int64
TrainingTimesLastYear      int64
YearsAtCompany             int64
YearsInCurrentRole         int64
YearsSinceLastPromotion    int64
YearsWithCurrManager       int64
CommunicationSkill         int64
Behaviour                  int64
dtype: object

In [13]:
y_train.dtypes

dtype('int64')

In [35]:
lr = LogisticRegression(solver = 'lbfgs', max_iter=2780,C=0.04,penalty='l2',random_state=30)

In [36]:
lr.fit(X_train, y_train)

LogisticRegression(C=0.04, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=2780,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=30, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [37]:
y_train_pred = lr.predict(X_train)

In [38]:
y_train_pred

array([0, 0, 0, ..., 1, 1, 1], dtype=int64)

In [39]:
acc1= accuracy_score(y_train, y_train_pred)

In [40]:
acc1

0.8857493857493858

In [41]:
auc_score1 = roc_auc_score(y_train, y_train_pred)
print(auc_score1)

0.8848153772922002

In [42]:
a=lr.predict_proba(test)

In [43]:
a.shape

(470, 2)

In [44]:
b=a[:,1]
ss=ss.drop('Attrition',axis=1)
ss['Attrition']=b
ss.to_csv('submission8.csv',index=False)

In [83]:
svm = SVR(kernel = 'sigmoid', max_iter = 500, degree = 2, C=1)
model1 = svm.fit(X_train, y_train)
y_pred = model1.predict(X_train)
print(r2_score(np.square(y_train),np.square(model1.predict(X_train))))
auc_score1 = roc_auc_score(y_train, y_pred)
print(auc_score1)

-971528.7957112915
0.26633270621302446

C:\Users\agraw\anaconda3\lib\site-packages\sklearn\svm\_base.py:231: ConvergenceWarning: Solver terminated early (max_iter=500).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)

In [80]:
dtc = DecisionTreeClassifier(criterion = 'gini', max_depth =6, random_state=1, splitter = 'random')
model3 = dtc.fit(X_train, y_train)
y_pred3 = model3.predict(X_train)
auc_score3 = roc_auc_score(y_train, y_pred3)
print(auc_score3)
acc2= accuracy_score(y_train, y_pred3)
print(acc2)

0.9305498258418902
0.9324324324324325

In [26]:
c=dtc.predict_proba(test)

In [27]:
d=c[:,1]
ss=ss.drop('Attrition',axis=1)
ss['Attrition']=d
ss.to_csv('submission5.csv',index=False)

In [84]:
rfc = RandomForestClassifier(n_estimators=3000, max_depth=19, criterion = 'entropy', random_state = 90)
model4 = rfc.fit(X_train, y_train)
y_pred4 = model4.predict(X_train)
auc_score4 = roc_auc_score(y_train, y_pred4)
print(auc_score4)
acc3= accuracy_score(y_train, y_pred4)
print(acc3)

1.0
1.0

In [85]:
e = rfc.predict_proba(test)

In [87]:
f=e[:,1]
ss=ss.drop('Attrition',axis=1)
ss['Attrition']=f
ss.to_csv('submission9.csv',index=False)